eip-course/Messaging-Endpoint-Examples/src/main/java/br/com/argonavis/eipcourse/endpoint/mapper/Product.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element name="id"    type="xs:long" />
      <xs:element name="code"  type="xs:string" />
      <xs:element name="price" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>

